@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";



::-webkit-scrollbar {
    width: 3px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4a5568; /* Color of the scrollbar handle */
    border-radius: 4px; /* Rounded edges */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #2d3748; /* Darker color on hover */
  }

  @property --border-angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
